<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <title><%=title %></title>
</head>
<body>
  <header>
    <h1><a href="/">ChoKoMemo</a></h1>
    <% if(showAccountOptions) { %>
      <% if(isSignedIn) { %>
        <nav>
          <span><a href="/account/signout">Sign out</a></span>
        </nav>
      <% } else { %>
        <nav>
          <span><a href="/account/signup">Sign up</a></span>
          <span><a href="/account/signin">Sign in</a></span>
        </nav>
      <% } %>
    <% } %>
  </header>