extends topBar

block content
  div.center.marginTemp
    h1.margin-ud-3rem 언제 어디서든지 간편하게 메모하세요
    p.margin-ud-0_5rem
      a(href="/account/signup") 무료로 가입하기
    p.margin-ud-0_5rem
      a(href="/account/signin") 이미 계정이 있으신가요? 로그인