extends layout

block list
  li test1
  li test2 
  li test3 
  li test4 
  li test5

block content
  h1= title 
  p Welcome to #{title}
  h2= login
  a(href="/req" style="color:brown") LOGIN
  h3= list
  a(href="/list" style="color:brown") MemoList