doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 
        a(href="") ChoKoMemo
      nav
        span
          a(href="/signup") Sign up 
        span
          a(href="/signin") Sign in
    .content
      .leftsideBar 
        block list 
      .rightsideBar
        block content
