extends topBar

block content
    .login-form
        .text-field
            input(type='text' name='ID' placeholder='ID')
        .text-field
            input(type='text' name='PW' placeholder='PW')
        .submit-btn
            input(type='button' name='LOGIN')
