extends topBar

block content
    form.login-form
        .text-field
            input#id(type='text' name='ID' placeholder='ID')
        .text-field
            input#password(type='password' name='PW' placeholder='PW')
        .submit-btn
            input(type='submit' name='LOGIN' value="Login")

block javascript
    script(src='/javascripts/login.js')