doctype html
html
    head
        title LOGIN
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        .login-form
            .text-field
                input(type='text' name='ID' placeholder='ID')
            .text-field
                input(type='text' name='PW' placeholder='PW')
            .submit-btn
                input(type='button' name='LOGIN')
