extends topBar

block content
    div.center
        h1 Sign up
    form.login-form
        .text-field
            input#id(type='text' name='Id' placeholder='ID')
        .text-field
            input#password(type='password' name='Password' placeholder='Password')
        .submit-btn
            input(type='submit' name='signup' value="create account")
