<%- include('header') -%>

<div class="center">
    <h1>Sign up</h1>
</div>
<form class="login-form">
    <div class="text-field">
        <input id="id" type=text name="Id" placeholder="ID">
    </div>
    <div class="text-field">
        <input id="password" type=password name="password" placeholder="Password">
    </div>
    <div class="submit-btn">
        <input type=submit value="create account" name="signup">
    </div>
</form>

<%- include('footer') -%>

