doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 
        a(href="/") ChoKoMemo
      if showAccountOptions
        if isSignedIn
          nav 
            span 
              a(href="/account/signout") Sign out
        else 
          nav
            span
              a(href="/account/signup") Sign up 
            span
              a(href="/account/signin") Sign in
    block content

    block javascript
