<%- include('bs_header') -%>

<div class="col-lg-8 mx-auto p-4 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="24" fill="currentColor" class="bi bi-sticky" viewBox="0 0 16 16"><path d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1h-11zM2 2.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V8H9.5A1.5 1.5 0 0 0 8 9.5V14H2.5a.5.5 0 0 1-.5-.5v-11zm7 11.293V9.5a.5.5 0 0 1 .5-.5h4.293L9 13.793z"/></svg>
        <span class="fs-4">ChoKoMemo</span>
      </a>
    </header>
  
    <main>
      <h1>언제 어디서든지 간편하게 메모하세요</h1>
      <p class="fs-5 col-md-8">
        사용하기 쉬운 앱으로 메모 작성을 간소화하세요!<br>
        메모 작성이 필요할 때 언제 언제든지 사용할 수 있습니다.<br>
      </p>
  
      <div class="mb-5">
        <a href="/account/signup" class="btn btn-primary btn-lg px-4">무료로 시작하기</a>
        <a href="/account/signin" class="btn btn-outline-primary btn-lg px-4">로그인</a>
      </div>
  
      <hr class="col-3 col-md-2 mb-5">
      <div class="row g-5">
        <div class="col-md-6">
          <h2>Starter projects</h2>
          <p>Ready to beyond the starter template? Check out these open source projects that you can quickly duplicate to a new GitHub repository.</p>
          <ul class="icon-list ps-0">
            <li class="text-muted d-flex align-items-start mb-1">This is pracice</li>
            <li class="d-flex align-items-start mb-1"><a href="https://github.com/twbs/bootstrap-npm-starter" rel="noopener" target="_blank">Bootstrap npm starter</a></li>
          </ul>
        </div>
  
        <div class="col-md-6">
          <h2>지원예정 기능</h2>
          <p>우리는 아래와 같은 기능들을 개발하고 있어요!</p>
          <ul class="icon-list ps-0">
            <li class="d-flex align-items-start mb-1"><a href="/docs/1">다른 유저에게 메모 공유</a></li>
            <li class="d-flex align-items-start mb-1"><a href="/docs/4">지원 언어 선택</a></li>
            <li class="d-flex align-items-start mb-1"><a href="/docs/2">SNS 로그인기능</a></li>
            <li class="d-flex align-items-start mb-1"><a href="/docs/3">메모 검색기능</a></li>
            <li class="d-flex align-items-start mb-1"><a href="/docs/4">유저 회원탈퇴</a></li>
          </ul>
        </div>
      </div>
    </main>
    <footer class="pt-5 my-5 text-muted border-top">
      We are ChoKoSpace &middot; 2023<br>
    </footer>
  </div>
  
<%- include('bs_footer') -%>