<%- include('bs_header') -%>

<div class="col-lg-8 mx-auto mt-4 p-4 py-md-5">
    <span style="display: flex; flex-direction: column; height: 60px; width: 400px; font-size: 30px; margin: 0 auto">Sign in</span>
    <main style="display: flex; flex-direction: column; height: 100%; width: 400px; margin: 0 auto;">
        <div class="form-floating">
            <input type="id" class="form-control" id="floatingInput" placeholder="ID">
            <label for="floatingInput">ID</label>
        </div>
        <div style="height: 5px;"></div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div style="height: 3px;"></div>
        <div class="checkbox mb-3">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </main>
</div>

<%- include('bs_footer') -%>